*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.logo{
    max-width: 100px;
}

.logo img{
    width: 100%;
}

.header{
    height: 124px;
}

.header-box{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    display: flex;
    align-items: center;
}

.logo{
    max-width: 100px;
}

.logo img{
    width: 100%;
}

.container{
    height: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer{
    height: 156px;
}

.footer-box{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav{
    flex-grow: 1;
}